
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">




    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>



<!-- jQuery rest -->

<!-- WARNING: I advise not using this link, instead download and host this library on your own server as GitHub has download limits -->

  </head>
  <body>

    <div class="conatiner" style="margin-top:3%; margin-left:3%">
    <button class="btn btn-success" id='create_hero'>New Hero</button>
    </div>
    <div class="conatiner" style="margin-top:3%; margin-left:3%">
    <button class="btn btn-primary" id='fight_to_death'>Fight To Death</button>
    </div>

    <div class="conatiner" style="margin-top:3%; margin-left:3%">
    <button class="btn btn-info" id='become_champion'>Become Champion</button>
    </div>
    <p id="hero">
empty
    </p>

    <script>






     $("#create_hero").click(function (e) {

       $.ajax({
             url: 'http://127.0.0.1:8000/create_hero/', // the endpoint
             type: "POST", // http method


            crossDomain: true,

             success: function (data) {
               document.getElementById("hero").innerHTML=data['new_hero']+"&nbsp"+data['status']+"&nbsp"+data['win_score'];

             },
             error: function (err) {
                 console.log("error",err);
             },


         });
         // Stop default behaviour until ajax request has been done
         e.stopImmediatePropagation();
            return false;


});

$("#fight_to_death").click(function () {

  $.ajax({
        url: 'http://127.0.0.1:8000/fight_to_death/', // the endpoint
        type: "POST", // http method


        success: function (data) {
            //document.write(data);
            console.log(data['status']);
            console.log(data);
            //document.getElementById("hero").innerHTML = data['new_hero'];
            document.getElementById("hero").innerHTML=data['new_hero']+"&nbsp"+data['status']+"&nbsp"+data['win_score'];
           //  document.getElementById(data.task_id).setAttribute("data", data.task_id)

        }, error: function (err) {
            console.log(err);
        }


    });



});

$("#become_champion").click(function () {

  $.ajax({
        url: 'http://127.0.0.1:8000/become_champion/', // the endpoint
        type: "POST", // http method


        success: function (data) {
            //document.write(data);
            console.log(data['status']);
            console.log(data);
            //document.getElementById("hero").innerHTML = data['new_hero'];
            document.getElementById("hero").innerHTML=data['new_hero']+"&nbsp"+data['status']+"&nbsp"+data['win_score'];
           //  document.getElementById(data.task_id).setAttribute("data", data.task_id)

        }, error: function (err) {
            console.log(err);
        }


    });



});

    </script>
  </body>
</html>
